acme==2.11.0
blinker==1.8.2
Brotli==1.1.0
certbot==2.11.0
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.3.2
click==8.1.7
ConfigArgParse==1.7
configobj==5.0.8
cryptography==43.0.1
distro==1.9.0
Flask==3.0.3
gunicorn==23.0.0
idna==3.8
itsdangerous==2.2.0
Jinja2==3.1.4
josepy==1.14.0
MarkupSafe==2.1.5
mutagen==1.47.0
packaging==24.1
parsedatetime==2.6
pycparser==2.22
pycryptodomex==3.20.0
pyOpenSSL==24.2.1
pyRFC3339==1.1
pytz==2024.1
pyuwsgi==2.0.26
requests==2.32.3
six==1.16.0
urllib3==2.2.2
validators==0.34.0
websockets==13.0.1
Werkzeug==3.0.4
yt-dlp==2024.8.6
